<%= paginate @questions =%>

<h1>Listing questions</h1>
<%= link_to 'New question', new_question_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.body %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
    </tr>
  <% end %>
</table>
